{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron ticket_description">
                    <h1 class="display-5">{{ ticket.title }}</h1>
                    <div><strong>Creation date:</strong> {{ticket.added_at}}</div>
                    <div> <strong>Author:</strong> {{ ticket.author }}</div>
                    <div><strong>Category:</strong> {{ ticket.category }}</div>
                    <div> <strong> Ticket description:</strong> {{ticket.text}}</div>
                    <form method="post" action="{% url 'main:update_ticket_status' ticket.id%}" enctype="application/x-www-form-urlencoded">
                        {% csrf_token %}
                        <strong>{{ticket_status_form.priority.label}}</strong>{{ticket_status_form.priority}}
                        <strong>{{ticket_status_form.status.label}}</strong>{{ticket_status_form.status}}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary" style="margin-top: 2em">
                                Update
                            </button>
                        </div>
                    </form>
                    <div class="ticket_attachments" style="display: flex; justify-content: flex-end">
                        {% for file in ticket.files.all %}
                            <span class="attached_file" style="margin-right: 1em">
                                <a href="{{ MEDIA_URL}}{{ file.file }}" download>
                                    <img src="/static/help_desk/images/file_pic.gif">
                                    <span>{{ file.file_name }} ({{ file.file_size | filesizeformat}})</span>
                                </a>
                            </span>
                        {% endfor %}
                    </div>
        </div>
            </div>
        </div>
        <div class="row comment_form" style="margin-bottom: 3em">
            <div class="col-12">
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ comment_form.text }}
                    {{ file_form.file }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary" style="margin-top: 2em">
                            Leave a message
                        </button>
                    </div>
                </form>
            </div>
        </div>
        {% for comment in comments.all %}
            <div class="row">
                <div class="col-12">
                    <div class="card border-primary mb-3">
                        <div class="card-header" style="display: flex; justify-content: space-between">
                            <span> {{ comment.user }} </span>
                            <span> Отправлено {{ comment.added_at }}</span>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ comment.text }}</p>
                            <div class="comment_attachments" style="display: flex; justify-content: flex-end">
                            {% for file in comment.files.all %}
                                <span class="attached_file" style="margin-right: 1em">
                                    <a href="{{ MEDIA_URL}}{{ file.file }}" download>
                                        <img src="/static/help_desk/images/file_pic.gif">
                                        <span>{{ file.file_name }} ({{ file.file_size | filesizeformat}})</span>
                                    </a>
                                </span>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}