.news_container {
    margin-top: 5em;
}

.news_paginator {
    margin-left: auto;
    margin-right: auto;
}

.user_page_container {
    margin-top: 1em;
}

.paginator-user-tickets {
    float: right;
}

.header-user-tickets {
    float: left;
}